spring:
  application:
    name: LoggerExample

  datasource:
    url: jdbc:mysql://localhost:3306/employee_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    defer-datasource-initialization: true

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always

server:
  port: 9090
